<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keywords}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="wrong d-flex flex-column align-items-center mt-5">
  <i class="d-flex justify-content-center wrong-search fa-solid fa-circle-xmark"></i>
  <h5>找不到符合項目</h5>
  <p>請改為搜尋其他項目</p>
</div>
